
body {
    background-image: $gradient;
}

.main {
    width: 100%;
    min-height: 100vh;

    &__page {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 60px auto 114px;
        
        &--interaction {
            width: 100%;

            @import '../elements/_converter.scss';
            @import '../elements/_last_videos.scss';
        }
    }
}