
$background: #13132F;
$background-med: #1e1e4b;
$background-black: #0D0D1F;
$background-footer: #080812;


$text: #FCFBF5;
$text-med: #BDBDFB;
$text-low: #2D2D5B;

$highlight: #E83394;
$highlight-med: #e8339454;
$highlight-low: #af2971;

$gradient: linear-gradient(0deg,  $background-black 0%, $background 100%);
